<div class="row">
    <div class="col-12">
        <form name="editForm" role="form" novalidate [formGroup]="editForm" class="col-12" (ngSubmit)="save()">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="edit-client">Editar cliente</h2>
                </div>
                <div class="modal-body">
                    <p class="modal-description">Aquí podrá editar un cliente del sistema.</p>
                    <p class="">Los campos con (*) son obligatorios.</p>
                    <div class="form-row align-items-start">
                        <div class="col">
                            <label class="form-control-label" for="field_nombre">Nombre (*)</label>
                            <input type="text" class="form-control" name="nombre" id="field_nombre" formControlName="nombre" maxlength="4000" #nombre/>
                            <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)" style="text-align: left;">
                                <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_apellido">Apellido (*)</label>
                            <input type="text" class="form-control" name="apellido" id="field_apellido" formControlName="apellido" maxlength="4000" #apellido/>
                            <div *ngIf="editForm.get('apellido')!.invalid && (editForm.get('apellido')!.dirty || editForm.get('apellido')!.touched)" style="text-align: left;">
                                <small class="form-text text-danger" *ngIf="editForm.get('apellido')?.errors?.required">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Tipo de documento</label>
                            <select class="form-control" id="tipoDocumento" name="tipoDocumento" required formControlName="tipoDocumento">
                                <option selected value="0"> Seleccione</option>
                                <option *ngFor="let tipo of lstTipos" value="{{tipo.Id}}"> {{tipo.codigo}} - {{tipo.valor}}</option>
                            </select>
                            <div *ngIf="editForm.get('tipoDocumento')!.invalid && (editForm.get('tipoDocumento')!.dirty || editForm.get('tipoDocumento')!.touched)" style="text-align: left;">
                                <small class="form-text text-danger" *ngIf="editForm.get('tipoDocumento')?.errors?.required">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_documento">Documento (*)</label>
                            <input type="text" class="form-control" name="documento" id="field_documento" formControlName="documento" maxlength="4000" #documento/>
                            <div *ngIf="editForm.get('documento')!.invalid && (editForm.get('documento')!.dirty || editForm.get('documento')!.touched)" style="text-align: left;">
                                <small class="form-text text-danger" *ngIf="editForm.get('documento')?.errors?.required">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="field_telefono">Telefono (*)</label>
                            <input type="text" class="form-control" name="telefono" id="field_telefono" formControlName="telefono" maxlength="4000" #documento/>
                            <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)" style="text-align: left;">
                                <small class="form-text text-danger" *ngIf="editForm.get('telefono')?.errors?.required">
                                    Este campo es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-save" mat-raised-button data-dismiss="modal" (click)="previousState()">
                        <span>Cancelar</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="!(editForm.valid && editForm.dirty) || isSaving" mat-raised-button color="primary">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>